p {
    font-family: 'Trebuchet MS';
    color: #148F77;
    margin-left: 5%;
}
h3 {
 color: #117864;
 font-family: Verdana;
 margin-left: 3%;
}
h1 {
    color: #0E6251;
    font-family: Verdana;
    margin-left: 40%;
    position: absolute;
    top: 8px;
}
img {
    margin-left: 40%;
}
.bot {
    margin-top: 10%;
    background-color: #D1F2EB;
    block-size: 130px;
}
h4 {
    color: #117864;
    font-family: Verdana;
    margin-left: 5%;
    position: absolute;
    left: 20px;
}
.up{
    height: 100px;
    background-color: #D1F2EB;
}
